.feuovn
  .tgj
    =link_to "root_path" do
      =image_tag "mercaari.png",class:"ktjnr",size:"180x50"
  .tgvrb
    .tgdw
      %p.rfsv 新規会員登録
        
    .yhb
      =link_to signup_index_path, method: :get ,class:"fhb" do
        =fa_icon "envelope-o",class:"ooy"
        %span.ooy
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;メールアドレスで登録する
      =link_to user_facebook_omniauth_authorize_path, method: :post ,class:"grgr" do
        =fa_icon "facebook-square",class:"frfr",size:"30x30"
        %span.ooy0
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Facebookで登録する
      =link_to user_google_oauth2_omniauth_authorize_path, method: :post ,class:"gtgt" do
        =image_tag "/images/google.svg",class:"ghgh",size:"45x45"
        %span.gkgk
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Googleで登録する
  .rlsjo
    =link_to("プライバシーポリシー",root_path,class:"utvuha")
    =link_to("メルカリ利用規約",root_path,class:"utvuhb")
    =link_to("特定商取引に関する表記",root_path,class:"utvuhc")
  .tgjtv
    =link_to "root_path" do
      =image_tag "merko.png",size:"70x70",class:"uklgv"
  .hgbf
    %p © 2019 Mercari