.feuovn {
  height: 100vh;
  width:100vw;
  background-color: rgb(245, 245, 245);
  padding-top: 3%;
  .tgj {
    width: 13%;
    margin:auto;
  }
  .tgvrb {
    height: 60%;
    width: 50%;
    background-color: white;
    margin:auto;
    margin-top: 2%;
    .tgdw {
      text-align: center;
      font-size: 23px;
      font-weight: bold;
      line-height: 110px;
      border-bottom: 1px rgb(245, 245, 245) solid;
    }
    .yhb {
      padding-top: 8%;
      .fhb {
        background-color: rgba(246, 7, 7, 0.678);
        width: 50%;
        height: 10%;
        margin-left: 25%;
        padding:20px 100px 20px 0;
        margin-top: 10%;
        color: white;
        border-radius: 5px;

        .ooy {
          margin-left: 2%;
        }
      }
      .grgr {
        background-color: rgba(13, 73, 240, 0.678);
        width: 55%;
        height: 10%;
        margin-left: 25%;
        padding:15px 80px 15px 15px;
        margin-top: 5%;
        color: white;
        border-radius: 5px;
        display: block;
        .frfr {
          font-size: 24px;
        }
        .ooy0 {
          margin-left: 2%;
          text-align: center;
        }
      }
      .gtgt {
        width: 55%;
        height: 10%;
        margin-left: 25%;
        padding:15px 80px 15px 15px;
        margin-top: 4%;
        color: black;
        border-radius: 5px;
        display: block;
        border: 1px black solid;
        .ghgh {
          font-size: 24px;
        }
        .gkgk {
          margin-left: 2%;
          text-align: center;
        }
      }
    }
  }
  .rlsjo {
    width: 100%;
    margin-top: 3%;
    .utvuha {
      color:black;
      opacity: 0.8;
      font-size: 12px;
      margin-left: 37%;
    }
    .utvuhb {
      color:black;
      opacity: 0.8;
      font-size: 12px;
      margin-left: 1%;
    }
    .utvuhc {
      color:black;
      opacity: 0.8;
      font-size: 12px;
      margin-left: 1%;
    }
  }
  .tgjtv {
    width: 10%;
    margin-left: 48%;
    margin-top: 2%;
  }
  .hgbf {
    margin-top: 1%;
    margin-left: 48%;
    font-size: 11px;
  }

}