.sign_up_new_container {
  height: 100vh;
  padding-top: 3%;
  a.over_mercari_img {
    width: 15%;
    display: block;
    margin: 0 auto;
  }
  .sign_up_new_content {
    height: 62%;
    width: 55%;
    background-color: white;
    margin: 2% auto 0;
    h2.new_member_registration {
      font-size: 23px;
      font-weight: bold;
      text-align: center;
      line-height: 110px;
      border-bottom: 1px $gray solid;
    }
    .registrations {
      padding: 5% 7% 10%;
      .registration_box {
        @include registration_box_base;
        &.mail {
          background-color: $red;
          i.mail_icon {
            font-size: 22px;
            margin: 3.5%;
          }
          p.mail_address {
            margin: auto 0 auto 13%;
          }
        }
        &.facebook {
          background-color: #385185;
          i.facebook_icon {
            font-size: 24px;
            margin: 3.5%;
          }
          p.facebook {
            margin: auto 0 auto 16%;
          }
        }
        &.google {
          border: 0.6px solid black;
          color: black;
          p.google {
            margin: auto 0 auto 20%;
          }
        }
      } 
    }
  }
  .rule-bar {
    width: 33%;
    margin: 2% auto;
    @include flex-between;
    .rule {
      color:black;
      opacity: 0.8;
      font-size: 13px;
    }
  }
  .mercari_img_content {
    width: 100vw;
    @include flex-center;
  }
  .under_mercari {
    width: 100vw;
    @include flex-center;
    font-size: 11px;
  }
}