.login__header{
  width: 100vw;
  height: 128px;
  text-align: center;
  &--h1{
    width: 193px;
    margin-top: 40px;
    display: inline-block;
    &--img{
      width: 185px;
      height: 49px;
      margin-right: 8px;
    }
  }
}

.login__container{
  width: 100vw;
  height: 731px;
  &__panel{
    width: 456px;
    height: 731px;
    margin: 0 auto;
    background-color: white;
    &__no-account{
      width: 328px;
      height: 64px;
      padding: 40px 64px;
      p{
        width: 100%;
        height: 14px;
        text-align: center;
      }
      &--a{
        width: 325px;
        height: 40px;
        margin-top: 8px;
        border: 1px solid transparent;
        background-color: dodgerblue;
        outline: none;
        display: flex;
        align-items: center;
        color: white;
        p{
          display: inline-block;
        }
      }
    }
    &__inner{
      width: 328px;
      height: 116px;
      padding: 32px 64px;
      border-top: 1px solid #f5f5f5;
      &__fb{
        .btn--default{
          box-sizing: border-box;
          width: 318px;
          height: 48px;
          border: none;
          background-color: rgb(56, 88,133);
          outline: none;
          padding-left: 20px;
          display: flex;
          align-items: center;
          i{
            color: white;
            font-size: 22px;
            display: inline-block;
          }
          p{
            margin-left: 70px;
            display: inline-block;
            color: white;
            line-height: 5px;
          }
        }
      }
      &__google{
        margin-top: 16px;
        .btn--default{
          box-sizing: border-box;
          width: 318px;
          height: 48px;
          border: 0.5px solid #000;
          background-color: #fff;
          outline: none;
          padding-left: 20px;
          display: flex;
          align-items: center;
          i{
            color: gray;
            font-size: 22px;
            display: inline-block;
          }
          p{
            margin-left: 80px;
            display: inline-block;
            line-height: 5px;
          }
        }
      }
    }
    &__form{
      &__inner{
        width: 328px;
        height: 211px;
        padding: 24px 64px 32px 64px;
        &--group{
          height: 56px;
          .input--default{
            padding: 10px 16px 8px 16px;
            border: 1px solid ;
            margin-top: 8px;
            outline: none;
            border-radius: 0.2em;
          }
        }
        &--groups{
          height: 56px;
          margin-top: 24px;
          .input--default{
            padding: 10px 16px 8px 16px;
            border: 1px solid ;
            margin-top: 8px;
            outline: none;
            border-radius: 0.2em;
          }
          .btn--default{
            width: 100%;
            height: 48px;
            border: 1px solid;
            margin-top: 24px;
            background-color: crimson;
            font-size: 14px;
            color: white;
            outline: none;
            transition: 500ms;
          }
          .btn--default:active{
              background-color: gray;
          }
          &--a{
            height: 14px;
            color: royalblue;
            display: block;
            margin-top: 30px;
          }
        }
      }
    }
  }
}
