.categoli_center_box1
  =link_to "/items/#{@item.id}/edit", class: "itemcomenntts" do
    .cc_box 商品の編集
  .cc_top or
  =link_to item_stop_path do
    .cc_center 出品を一旦中止する
  =link_to item_destroy_path do
    .cc_bottom この商品を削除する