.juv
  =link_to "/items/#{@item.id}/edit", class: "hanage" do
    .qq 商品の編集
  .qqq or
  - if @item.exhibition_state == "出品中"
    =link_to item_stop_path do
      .qqqq 出品を一旦中止する
  - else
    =link_to item_start_path do
      .qqqq 出品を再開する
  =link_to item_destroy_path do
    .qqqqq この商品を削除する