.zenntai{
  height: 100%;
  width: 100vw;
  background-color: $gray;
// 画像投稿分
.dropzone-container {
    display: flex;
    min-height: 165px;
    width: 615px;
    background: #f5f5f5;
    border: 1px dashed #ccc;
    margin:0 auto;
}
.dropzone-container2 {
  margin:0 auto;
  display: flex;
  max-height:165px;
  width: 615px;
  background: #f5f5f5;
  border: 1px dashed #ccc;
}
.setumei {
  width: 30%;
}
.migiyose{
  flex-grow: 1;
}
.dropzone-area {
    height: 165px;
    width: auto;
    overflow: hidden;
}
.dropzone-area2 {
    max-height: 165px;
    width: auto;
    overflow: hidden;
}
label {
  letter-spacing: 5px;
  color:black;
  cursor: pointer;
  display: inline-block;
  min-width: 615px;
  text-align: center;
  height:165px;
  line-height:165px;
}
label input {
  display: none;
}
#exhibit-images-preview {
    display: flex;
}
#exhibit-images-preview2 {
    display: flex;
}
.sell_upload__area {
    display: flex;
    height: 165px;
}
.sell_upload__area2 {
  display: flex;
  max-height: 165px;
}
.img_view {
  padding: 5px;
}
.xxxxxbtn {
  display: inline;
}
.btn_wrapper{
  width:100%;
}
.xxxxxbtn.delete{
    height: 38px;
    position: absolute;
    line-height: 38px;
    bottom:3px;
    width:100%;
    text-align: center;
    margin-right: 10px;
    color: $blue;
    background-color: $gray;
}
.xxxxxbtn.edit{
    margin-left: 10px;
    color: $blue;
}
#edit-images-preview {
    display: flex;
}
  //共通部分
input[type="text"] {
    width: 350px;
    height: 20px;
}
.select_boxyou{
  width: 400px;
  height: 50px;
  background-color: #fff;
}
  .bun-matome{
    display: flex;
    .bunn{
      padding-right: 50px;
      font-size: 15px;
      padding-bottom: 10px;
    }
    .hissu{
      height: 24px;
      width: 40px;
      font-size:15px;
      background-color: $red;
      color: white;
      text-align: center;
      border-radius: 2px;
    }
  }
// 以下上から順番
  .header{
    .atamanoe{
      height: 120px;
      line-height:120px;
      background-color: $gray;
      padding:10px;
      text-align: center;
    }
  }
  .atama{
    height: 100px;
    width: 100%;
    border-bottom: solid #bbb 1px;
    line-height: 100px; 
    text-align: center;
    font-size: 28px;
  }
  .main{
    height:100%;
    width: 60%;
    margin: 0 auto;
    background-color: white;
    .gazoushuppinn{
      min-height: 200px;
      width: 100%;
      padding:20px 30px;
      .bunn2{
        padding-right: 50px;
        font-size: 20px;
      }
      .gazou-okurtokoro{
          width: 615px;
          margin: 0 auto;
          background: $gray;
          &__sell-container{
              padding: 32px 16px;
              font-size:  22px;
              font-weight: 600;
              text-align: center;
              border-bottom: 1px solid #eee;
          }
          &__form-list{
              height: auto;
              overflow: hidden;
              width: 700px;
              &__upload-box{
                  padding: 40px;
                  height: auto;
                  overflow: hidden;
                  &__image-text{
                      height: 30px;
                      width:  70px;
                      font-weight: bold;
                      float: left;
                  }
                  .form-require{
                      margin-right: 510px;
                      background: $red;
                      padding: 2px 4px;
                      border-radius: 2px;
                      color: #fff;
                      font-size: 12px;
                      vertical-align: top;
                      float: right;
                      font-weight: 600;
                  }
                  .capture {
                      padding-top: 30px;
                      height: 20px;
                      width: 500px;
                      font-size: 12px;
                      text-align: left;
                  }
              }
              &__drop-box{
                  background: #f5f5f5;
                  height: 162px;
                  width: 620px;
                  margin: 0 auto;
                  border: 1px dashed;
                  border-color: #ccc;
                  &__item{
                      box-sizing: border-box;
                      height: 100%;
                      width: 100%;
                      padding: 40px;
                      &__upload-file{
                          display: none;
                      }
                      &__text {
                          text-align: center;
                          font-size: 14px;
                          line-height: 1.5;
                          transform: translate(0, -50%);
                          pointer-events: none;
                          white-space: pre-wrap;
                          word-wrap: break-word;
                          margin-top: 30px;
                      }
                  }
              }
              &__space{
                  height: 50px;
                  border-bottom: 1px solid #eee;
              }
        }
      }
    }
    .shouhinmei{
      min-height: 300px;
      padding:40px 30px;
      border-bottom: solid #bbb 1px;
      .shouhinnmei-kakutokoro{
        padding-bottom: 20px;
        padding-left:12%;
        #item_item_name{
          padding:15px;
          margin: 0 auto;
        }
      }
      .shouhinsetumei-kakutokoro{
        padding-left:12%;
      }
    }
    .shouhinnoshousai{
      display:flex;
      min-height: 310px;
      padding:40px 30px;
      border-bottom: solid #bbb 1px;  
      .setumei{
        padding-bottom: 30px;
      }
      .kategory-box{
        padding-bottom: 20px;
        .kategory-box-wrapper{
          padding-top: 15px;
        }
      }
    }
    .haisounituite{
      display:flex;
      min-height: 500px;
      padding:40px 30px;
      border-bottom: solid #bbb 1px; 
      .setumei {
        padding-bottom: 20px;
      }
      .kategory-box{
        padding-bottom: 20px;
      }
    }
    .hannbaikakaku{
      height: 240px;
      padding:40px 30px;
      display:flex;
      border-bottom: solid #bbb 1px; 
        .setumei {
          width: 30%;
        }
        .migiyose{
          flex-grow: 1;
          .kakaku-kakutokoro{
            widows: 100%;
            padding-bottom: 20px;
            border-bottom: solid #bbb 1px; 
            font-size:20px;
            margin-right: 10%;
          }
          .kakaku-kakumasu{
            margin-left:5%;
            padding:10px;
            display: inline-block;
          }
          .kakaku-tesuuryou{
            height: 50px;
            line-height: 40px;
            padding-bottom: 20px;
            border-bottom: solid #bbb 1px; 
            display:flex;
            .tesuuryou{
              margin-left: auto;
            }
          }
          .kakaku-rieki{
            height: 50px;
            line-height: 40px;
            padding-bottom: 30px;
            display:flex;
            .rieki{
              margin-left: auto;
            }
          }
        }
      }
      .hanbaityuui{
        min-height: 300px;
        width: 100%;
        .tyuuibunn{
          height: 150px;
          width: 80%;
          margin:6% auto 0;
        }
        .buttonyou{
          text-align: center;
          .buttonda{
            font-size: 14pt;       
            text-align: center;     
            cursor: pointer;     
            padding : 13px 200px;   
            background : $red;    
            color: #ffffff;    
            line-height: 1em;       
            transition: .3s;     
            margin : 0 auto 20px;  
          }
        }
        .buttonyou2{
          text-align: center;
          padding-left: 43%;
          .modorubutton{
            width: 100px;
            height: 50px;
            background-color: gray;
            border: solid #bbb 1px;
            text-decoration: none;
            text-align: center;
            .modo{
              width: 100px;
              height: 50px;
              line-height:50px;
              background-color: gray;
              color: white;
              display: block;
              font-size: 20px;
              border: solid #bbb 1px;
              text-decoration: none;
            }
          }
        }
      }
    }
  .footer{
    background-color: #f5f5f5;
    width: 100%;
    height: 120px;
    margin: 0 auto ;
    text-align: center;
    .kiyaku{
      width: 40%;
      height: 30px;
      margin:0 auto;
      display: flex;
      text-align: center;
      padding-bottom: 50px;
      .kiya{
        margin: 10px;
      }
    }
  }
}
.iichan_box{
  min-height:165px;
  position: relative;
  margin-left:2px;
  width: 120px;
}
.xxxxxbtn.deleted {
  @extend .xxxxxbtn.delete;
  display: block;
  max-height: 38px;
  line-height: 38px;
  width: 20%;
}
.dropzone-area3 {
  display: flex;
  flex-wrap: wrap;
}
input#item_images_attributes_0__destroy {
  display: none;
} 
.c_d{
  margin-top:15px;
}
.hidden{
  display: none;
}
.flexbox_no_warp{
  display:flex;
  max-width:615px;
  flex-wrap: wrap;
}