* {
  box-sizing: border-box;
  .header-top {
    display: inline-flex;
    padding: 0% 15%;
    height: 50px;
    width:100%;
    .inoue {
      margin-top:8%;
    }
    .top_right {
      margin-left: 5%;
      width:100%;
      height:100%;
      display: inline-flex;
      .search{
        margin-top: 0.8%;
        background-color: rgb(245, 245, 245);
        font-size: 16px;
        width: 100%;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(204, 204, 204);
        border-radius: 4px;   
        padding: 10px 50px 10px 10px;
      }
      .megane {
        cursor: pointer;
        font-size: 15px;
        opacity: 0.7;
        position: absolute;
        right: 15.5%;
        top: 2.1%;
        border: none;
        background-color: rgb(245, 245, 245);
      }
    }
  }
  .header-center {
    padding: 0% 15%;
    height: 50px;
    width:100%;
    color: black;
    display: inline-flex;
    white-space: nowrap;
    .minami {
      margin-top: 100%;
    }
    .per {
      font-size: 14.5px;
      color:black;
      margin-left: 1%;
      margin-top: 1.2%;
      font-weight: bold;
      opacity: 0.8;
    }
    .tag {
      margin-top: 100%;
      margin-left: 200%;
    }
    .pbr {
      font-size: 14.5px;
      color:black;
      margin-left: 4.1%;
      margin-top: 1.3%;
      font-weight: bold;
      opacity: 0.8;
    }
    .touroku1 {
      background-color: rgb(234, 53, 45);
      color: white;
      font-size: 13px;
      border-width: 1px;
      border-style: 1px solid rgb(234,53,45);
      border-radius: 5px;
      padding: 6px 10px;
      text-decoration-line: none;
      letter-spacing: 1px;
      height: 65%;
      margin: 1% 0 0 48%;
      border-image: initial;
      text-decoration-line: none;
    }
    .login1 {
      width: 10%;
      margin-left: 1%;
      margin-top: 1%;
      background-color: white;
      color: #0099e8;
      border: 1px solid #0099e8;
      border-radius: 4px;
      font-size: 13px;
      padding: 0.7% 1%;
      height: 65%;
      text-align: center;
    }
    .login1:hover {
      background-color: #0099e8;
      color: white;
      transition: background-color 0.5s;
    }
  }
  .header-bottom {
    display: inline-flex;
    padding: 0% 15%;
    height: 50px;
    width:100%;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    border-top: 1px solid #eee;
    .mercari {
      color:black;
      font-size: 15px;
      font-weight: none;
      opacity: 0.7;
      margin-top: 1.2%;
    }
    .mercari:hover {
      text-decoration: underline;
      opacity: 0.5;
    }
    .icon {
      font-size: 15px;
      opacity: 0.5;
      margin-left: 1%;
      margin-top: 1.4%;
    }
    .mercari1 {
      color:black;
      font-size: 15px;
      font-weight: none;
      opacity: 0.7;
      margin-top: 1.2%;
      margin-left: 1%;
    }
    .mercari1:hover {
      text-decoration: underline;
      opacity: 0.5;
    }
    .numb {
      margin-top: 1.4%;
      margin-left: 1%;
      font-size: 14px;
      opacity: 0.8;
    }
  }
  .content_g {
    margin-top: 5px;
    width: 100%;
    background-color: #EEEEEE;
    display: inline-flex;
    padding-bottom: 50px;
    .masa {
      margin-left: 220px;
      margin-top: 40px;
    }
    .midasi {
      width: 47%;
      height: 10%;
      background-color: white;
      margin-left: 2%;
      text-align: center;
      line-height: 90px;
      margin-top: 100px;
      font-weight: bold;
    }
    .main_contents {
      height: 750px;
      width: 47%;
      margin-left: 38%;
      margin-top: 11%;
      position: absolute;
      .kotoba {
        color: #0099e8;
        font-size: 22px;
        font-weight: bold;
      }
      .kotoba:hover {
        text-decoration: underline;
        opacity: 0.6;
      }
      .main_content {
        height: 680px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 1%;
        .boxa1 {
          height :330px;
          width:31%;
          background-color: white;
          .textarea {
            height:30%;
            width: 100%;
            .top {
              height:50%;
              width:100%;
              .namess {
                color: black;
                opacity: 0.8;
              }
            }
            .bottom {
              height:50%;
              width:100%;
              .valuess {
                margin-top:15px;
                color: black;
                float: left
              }
              .heart {
                margin-top: 12px;
                color: black;
                float: right;
                opacity: 0.7;
              }
            }
          }
        }
      }
    }
  }
  .foot {
    width: 100%;
    height: 390px;
    background-color:#212121;
    .resize {
      width: 70%;
      height: 83%;
      margin: auto;
      display: flex;
      .one {
        width: 20%;
        height: 100%;
      }
      .two {
        width: 20%;
        height: 100%;
      }
      .three {
        width: 19%;
        height: 100%;
      }
      .four {
        width: 18%;
        height: 100%;
        padding-top: 6px;
      }
      .five {
        width: 8%;
        height: 100%;
      }
      .six {
        width: 15%;
        height: 100%;
      }
      .daimoku {
        font-weight: bold;
        color:white;
        font-size: 16px;
        margin-top: 15px;
        padding-bottom: 10px;
      }
      .ai {
        display: block;
        color: #fff;
        font-size: 12px;
        opacity: 0.7;
        line-height: 15px;
      }
      .ai:hover {
        text-decoration: underline;
      }
      .t-icon {
        color: white;
        font-size: 40px;
      }
      .f-icon {
        color: white;
        font-size: 40px;
      }
    }
    .last {
      width:70%;
      height: 10%;
      margin:auto;
      display: flex;
      .lastmark {
        float: left;
      }
      .lastname {
        color: white;
        font-size: 12px;
        margin-left: 30%;
        margin-top: 20px;
      }
    }
  }
}