.header {
  height: 100px;
  width: 100%;
  background-color: white;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  border-bottom: 1px solid #eee;
  position: relative;
  z-index: 5;
  .h_box {
    height: 100%;
    width: 70%;
    margin: auto;
    padding: 0.5% 0;
    .h_top_box {
      height: 50%;
      width :100%;
      display: flex;
      justify-content: space-between;
      img.h_top_img {
        margin: 3% 0;
      }
      .search {
        width: 75%;
        display: flex;
        position: relative;
        input.hoge {
          background-color: rgb(245, 245, 245);
          font-size: 16px;
          width: 100%;
          border: 1px solid rgb(204, 204, 204);
          border-radius: 4px;   
          padding: 0px 50px 0px 10px;
        }
        button.hogehoge {
          position: absolute;
          top: 26%;
          right: 2%;
          background-color: transparent;
          border: none;
          font-size: 15px;
          cursor: pointer;
        }
      }
    }
    .h_bottom_box {
      height: 50%;
      width :100%;
      display: flex;
      justify-content: space-between;
      padding-top: 1%;
      .left_box {
        width: 50%;
        display: flex;
        a.bar_box {
          text-decoration: none;
          width: 33%;
          display: flex;
          margin-right: 5%;
          color: black;
          &:hover {
            color: $blue;
          }
          .h_bottom_img {
            margin: 6% 0;
          }
          .bar {
            font-size: 14px;
            font-weight: bold;
            white-space: nowrap;
            margin: 5%;
          }
        }
      }
      .right_box {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        text-decoration: none;
        a.box {
          display: flex;
          white-space: nowrap;
          margin: 1% 0 0 5%;
          color: black;
          &:hover .heart {
            color: $blue;
            font-weight: bold;
          }
          &:hover .iine {
            color: $blue;
            transition: 0.3s;
          }
          &:hover .bell {
            color: $blue;
          }
          &:hover .news {
            color: $blue;
            transition: 0.3s;
          }
          &:hover .check {
            color: $blue;
          }
          &:hover .todo_list {
            color: $blue;
            transition: 0.3s;
          }
          &:hover .soccer {
            color: $blue;
          }
          &:hover .mypage {
            color: $blue;
            transition: 0.3s;
          }
          p.heart {
            margin-top: 3%;
            opacity: 0.5;
          }
          p.iine {
            font-size: 14px;
            opacity: 0.9;
            margin: 2% 0 0 5%;
          }
          p.bell {
            margin-top: 3%;
            opacity: 0.3;
          }
          p.news {
            font-size: 14px;
            opacity: 0.9;
            margin: 2% 0 0 5%;
          }
          p.check {
            margin-top: 3%;
            opacity: 0.3;
          }
          p.todo_list {
            font-size: 14px;
            opacity: 0.9;
            margin: 2% 0 0 5%;
          }
          p.soccer {
            display: inline-block;
            margin-top: 3%;
            opacity: 0.3;
          }
          p.mypage {
            display: inline-block;
            font-size: 14px;
            opacity: 0.9;
            margin: 2% 0 0 5%;
          }
        }
        .touroku {
          background-color: $red;
          color: white;
          font-size: 13px;
          border-radius: 5px;
          padding: 6px 10px;
          letter-spacing: 1px;
          border-image: initial;
        }
        .login {
          padding: 6px 10px;
          letter-spacing: 1px;
          margin-left: 3%;
          background-color: white;
          color: $blue;
          border: 1px solid $blue;
          border-radius: 5px;
          font-size: 13px;
          vertical-align: middle;
          white-space: nowrap;
          &:hover {
            background-color: $blue;
            color: white;
            transition: background-color 0.5s;
          }
        }
      }
    }
  }
} 