-# .single-container
-#   .single-header
-#     %h1.single-header__logo
-#       = link_to do
-#         =image_tag "", class: "mercari-logo"
-#   .login
-#     .login-page
-#       %p アカウントをお持ちでない方はこちら
-#       .sign-up
-#         =link_to signup_index_path, method: :get, class: "sign-up-btn"  do
-#           新規会員登録 
-#     .single-main__container__inner__content
-#       %i.single-main__container__inner__content__icon.fab.fa-face-square
-#         Facebookでログイン
-#       =image_tag "", class: "contents__btn__google__logo"
-#         Googleでログイン
        
-#     .login-form
-#       = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
-#         .form-group
-#           .field
-#           = f.email_field :email, autofocus: true, autocomplete: "email", class: "input-default", placeholder: "メールアドレス"
-#         .form-group
-#           .field
-#           = f.password_field :password, autocomplete: "current-password", class: "input-default", placeholder: "パスワード"
-#           .form-group
-#           =image_tag "", alt: "robot", class: "robot_img"
-#           .actions
-#           = f.submit "ログイン", class: "login"
-#       -# - if controller_name != 'sessions'
-#       -#   = link_to "login", new_session_path(resource_name)
-#       -#   %br/
-#       -# - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
      -#   = link_to "パスワードをお忘れの方", new_password_path(resource_name), class: "password-forget"
      -#   %br/
      -# - if devise_mapping.confirmable? && controller_name != 'confirmations'
      -#   = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name)
      -#   %br/
      -# - if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
      -#   = link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name)
      -#   %br/
      -# - if devise_mapping.omniauthable?
      -#   - resource_class.omniauth_providers.each do |provider|
      -#     %br/
  

    -# = link_to user_facebook_omniauth_authorize_path, method: :post, class: "contents__btn contents__btn__facebook" do
      -# = link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "contents__btn contents__btn__google" do













-# %h2 Log in
-# = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
-#   .field
-#     = f.label :email
-#     %br/
-#     = f.email_field :email, autofocus: true, autocomplete: "email"
-#   .field
-#     = f.label :password
-#     %br/
-#     = f.password_field :password, autocomplete: "current-password"
-#   - if devise_mapping.rememberable?
-#     .field
-#       = f.check_box :remember_me
-#       = f.label :remember_me
-#   .actions
-#     = f.submit "Log in"
-# = render "devise/shared/links"
