.adv
  .imagebox
    = link_to("https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8") do
      =image_tag("app.png", size: "135x42")
  .imagebox2
    = link_to("https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja") do
      =image_tag("google.png", size: "138x42")