.header
  .header_box
    .h_topbox
    .h_center_topbox
      .left_imagbox
        = link_to root_path do
          =image_tag "merucari.png", size: "140x35"
      %form.rightsearch
        %input.hoge{:name => "keyword", :placeholder => "何かお探しですか？", :type => "search", :value => ""}/
        %button.hogehoge
          =fa_icon "search"
    .h_bottombox
    .h_center_bottombox
      .left_box
        .bar
          =link_to "" do
            =image_tag "bar.png", size:"15x15"
        .bar2
          = link_to('カテゴリーから探す', root_path, class: 'bar2')
      .left_box2
        .bar3
          =link_to ""do
            =image_tag "tag.png", size:"15x15"
        .bar4
          =link_to "", class: "bar4" do
            &nbsp ブランドから探す
      .right_boxxx
        - if user_signed_in?
          =link_to "",class:"qbox" do
            %p.heart
              =fa_icon "heart-o"
            %p.iine
              いいね！一覧
          =link_to "",class:"wbox" do
            %p.bell
              =fa_icon "bell-o"
            %p.osirase
              お知らせ
          =link_to "",class:"ebox" do
            %p.check
              =fa_icon "check"
            %p.yarukotorisuto
              やることリスト
          .rbox
            = link_to action:"show", controller:"users", id:current_user.id do
              %p.my
                =fa_icon "futbol-o"
              %p.mymypage
                マイページ        
        - else
          =link_to('新規会員登録', new_user_session_path, class: 'touroku')
          =link_to('ログイン', user_session_path, class: 'login')

