.saler-items-box
  = link_to "", root_path, class: "saler-items-box-link"
  .items-box-photo 
    = image_tag "umi.jpg", class: "saler-item-image"
  .items-box-body
    %h3.saler-item-name 商品名は海です。
    .saler-item-num
      .saler-item-price 
        ¥12,000
      .like-font
        = fa_icon "heart", class: "saler-haert"
        %span 3