%section.ic-container
  %h2.ic-head 支払い方法
  .is-in
    %section.is-contents
      .is-content
        %h3.ics-head クレジットカード一覧
      %ul.is-payment-list
    %section.s-add-card
      = "**** **** **** " + @default_card_information.last4
      %br
      - exp_month = @default_card_information.exp_month.to_s
      - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
      = exp_month + " / " + exp_year
    .s-not-regist
      = link_to "#", class: 'payment-to-info' do  
        %span.pa 支払い方法について
        = fa_icon "chevron-right", class: "arrow-right2" 