.adv {
  height: 267px;
  width: 100%;
  background-image: image-url("adv.png");
  background-size: 1440px 267px;
  display: flex;
    .imagebox {
      height :42px;
      width: 100px;
      margin-top: 162px;
      margin-left: 438px;
      background-color: aqua
    }
   .imagebox2 {
    height :42px;
    // width: 135px;
    margin-top: 161px;
    margin-left: 51px;
    background-color: pink;

  }
}