footer {
  background-color: #222222;
  bottom: 0;
  height: 450px;
  padding: 0 auto;
}

nav {
  margin: 0 auto;
  display: flex;
}

h2.asi {
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.info {
  padding-right: 40px;
  margin-top: 18px;
}
.help-guide {
  margin-top: 18px;
  padding-right: 40px;
}
.privacy {
  margin-top: 18px;
  padding-right: 40px;
}
.bullet {
  display: flex;
}
.bullet-left {
  padding-right: 10px;
}
.bullet-right {
  padding-left: 10px;
}
.country {
  margin-top: 18px;
  padding-right: 40px;
}

li.opa {
  margin-top: 16px;
  cursor: pointer;
  font-size: 11.7px;
  opacity: 0.7;
}

a.color {
  color: white;
}

.f-under {
  margin: 30px auto 20px;
}

span.f {
  color: white;
  font-size: 12px;
  display: block;
  text-align: center;
}

.mercari1 {
  height: 33px;
  width: 120px;
  margin-left: 30px;
}

.t-icon {
  font-size: 300px;
  background-color: #222222;
  margin-top: 30px;
  margin-left: 30px;
  padding-right: 20px;
  color: white;
}
.f-icon {
  color: white;
}