// main.myp-container {
//   padding: 0;
//   margin: 0;
//   background-color: #eeeeee;
//   height: 3000px;
//   width: 100%;
//   position: relative;
// }
// nav.myp-nav {
//   position: absolute;
//   left: 7%;
//   height: auto;
//   width: 280px;
// }
// ul.myp-nav-list {
//   list-style: none;
//   background-color:#FAFAFA;
// }
// li.myp-nav-list-item {
//   font-size: 14px;
//   color: #333333;
//   padding: 16px;
//   border: 1px solid #eeeeee;
// }
// h3.myp-nav-head {
//   font-size: 16px;
//   color: #333333;
//   margin-top: 40px;
// }
// a.myp-nav-list-item {
//   display: block;
//   font-size: 14px;
//   color: #333333;
//   padding: 16px;
//   border: 1px solid #eeeeee;
//   text-decoration: none;
//   cursor: default;
// }
// .icon-angle-right {
//   font-size: 30px;
//   color: #eeeeee;
// }

main.myp-container {
  padding: 0;
  margin: 0;
  background-color: #eeeeee;
  height: 3000px;
  width: 100%;
  position: relative;
}
nav.myp-nav {
  position: absolute;
  left: 7%;
  height: auto;
  padding: 0;
  width: 280px;
}
ul.myp-nav-list {
  list-style: none;
  background-color:#FAFAFA;
}
li.myp-nav-list-item {
  position: relative;
}

a.myp-nav-list-link {
  display: block;
  font-size: 14px;
  padding: 16px;
  border: 1px solid #eeeeee;
  color: #333333;
  text-decoration: none;
  cursor: default;
}
.icon-angle-right {
  font-size: 25px;
  color: #eeeeee;
  position: absolute;
  top: 12px;
  right: 12px;
}
  
h3.myp-nav-head {
  font-size: 16px;
  color: #333333;
  margin-top: 40px;
}



// .my-content {
//   width: 700px;
//   height: auto;
//   float: right;
//   background-color: #eeeeee;
// }