main.myp-container {
  padding-top: 3%;
  margin: 0;
  background-color: #eeeeee;
  height: 1500px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
nav.myp-nav {
  position: absolute;
  left: 7%;
  height: auto;
  padding: 0;
  width: 280px;
}

ul.myp-nav-list {
  list-style: none;
  background-color:#FAFAFA;
  padding-left: 0;
  li.myp-nav-list-item {
    position: relative;
    a.myp-nav-list-link {
      display: block;
      font-size: 14px;
      padding: 16px;
      border: 1px solid #eeeeee;
      color: #333333;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        background-color: #f4f4f4;
      }
    }
    .icon-angle-right {
      font-size: 27px;
      color: #cccccc;
      position: absolute;
      top: 12px;
      right: 12px;
      &:hover {
        color: #333333;
        right: 11px;
      }
    }
  }
}

h3.myp-nav-head {
  font-size: 16px;
  color: #333333;
  margin-top: 40px;
}