.slider {
  height: auto;
  overflow: hidden;
  width: 100%;
  position: relative;
  .slider-list {
    cursor: pointer;
    display: flex;
    .slider img{
      height: auto;
      width: 100%;
    }
  }
}
.slider-prev {
  position: absolute;
  top: 47%;
  left: 50px;
  font-size: 2em;
  z-index: 3;
  color: white;
  cursor: pointer;
}
.slider-next {
  position: absolute;
  top: 47%;
  right: 50px;
  font-size: 2em;
  z-index: 3;
  color: white;
  cursor: pointer;
}
