.slider {
  height: 390px;
  overflow: scroll;
  width: 100%;
}

.slider-list {
  cursor: pointer;
  display: flex;
}

.slider img{
  height: auto;
  width: 100%;
}
/*slick setting*/
.slick-prev:before,
.slick-next:before {
  color: #000;
}
