.identification_content{
  width: 45vw;
  background-color: #fff;
  position: absolute;
  top: 3%;
  right: 0;
}
.identification_container{
  display:block;
}
.identification_head{
  font-size: 24px;
  padding:8px 24px;
  color:#333;
  font-weight: bold;
  border-bottom: 1px solid #f5f5f5;
  text-align: center;
  line-height: 1.4;
}
.identification_form_container{
  padding:64px;
}
.identification_description{
  margin-top: 8px;
  font-size: 14px;
  color:#333;
}
.identification_explanation{
  margin-top: 8px;
  display: flex;
  justify-content:flex-end;
  &:hover {
    opacity: 0.6;
  }
}
.identification_link_position{
  vertical-align: top;
}
.identification_link{
  font-size:14px;
  color:#0099e8;
}
.identification_angle_right{
  display:inline-block;
  font-size:22px;
  color:#0099e8;
  font-weight: bold;
}
.identification_group{
  margin-top:40px;
  color:black;
}
.identification_btn{
  display:block;
  width:100%;
  margin: 40px 0px 0px;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  font-size:14px;
  line-height: 48px;
  cursor: pointer;
}
.identification_arbitrary{
  background-color: #ccc;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}
.identification_box{
  height: 48px;
  width:100%;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  -webkit-appearance: none;
}
.identification_label{
  font-size:14px;
  font-weight:600;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
}
.identification_text{
  font-size:14px;
  margin-top:8px;
  color: #333;
}