.myp-back-gray {
  background: #EEEEEE;
  width:100%;
}
nav.myp-nav {
  width: 20%;
  float: left;
  margin: 3% 0 5% 15%;
}
ul.myp-nav-list {
  list-style: none;
  background-color: white;
  li.myp-nav-list-item {
    .flex {
      border: 1px solid #eeeeee;
      a.myp-nav-list-link {
        display: flex; 
        justify-content: space-between;
        font-size: 14px;
        padding: 16px;
        color: #333333;
        text-decoration: none;
        line-height: 31px;
        cursor: pointer;
        &:hover {
          background-color: #FAFAFA;
        }
      }
      .icon-angle-right {
        margin: auto 5%;
        font-size: 27px;
        color: #cccccc;
        &:hover {
          color: #333333;
          right: 11px;
        }
      }
    }
  }
}
h3.myp-nav-head {
  font-size: 16px;
  color: #333333;
  margin-top: 40px;
  font-weight: bold;
}