nav.myp-nav {
  position: absolute;
  top: 3%;
  height: auto;
  padding: 0;
  width: 30%;
  z-index: 1;
}
ul.myp-nav-list {
  list-style: none;
  background-color: white;
  padding-left: 0;
  li.myp-nav-list-item {
    position: relative;
    a.myp-nav-list-link {
      display: block;
      font-size: 14px;
      padding: 16px;
      border: 1px solid #eeeeee;
      color: #333333;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        background-color: #FAFAFA;
      }
    }
    .icon-angle-right {
      font-size: 27px;
      color: #cccccc;
      position: absolute;
      top: 12px;
      right: 12px;
      &:hover {
        color: #333333;
        right: 11px;
      }
    }
  }
}
h3.myp-nav-head {
  font-size: 16px;
  color: #333333;
  margin-top: 40px;
  font-weight: bold;
}