a.mypss {
  position: relative;
  display: block;
  color: $dark_gray;
  font-size: 16px;
  line-height: 72px;
  font-weight: bold;
}
.content-title{
  height: 100px;
  width: 100%;
  background-color:#f5f5f5f5;
  padding: 30px;
  font-size:20px;
  font-weight: bolder;
}
.item-info{
  height: 100px;
  display: flex;
  border-bottom: solid #eee 1px;
  .info-left{
  width: 15%;
  text-align: center;
  }
  .info-right{
    flex-grow: 1;
    .info-up{
      height:50%;
      width: 100%;
      font-size: 20px;
      text-decoration: none;
      color:black;
      padding-left:10px;
    }
    .info-down{
      height:50%;
      width: 100%;
      .teisibox{
        height:60%;
        width: 90px;
        background-color: $red;
        color:white;
        text-align: center;
        border-radius: 3px;
      }
    }
  }
}