.juv {
  height: 300px;
  width: 600px;
  background-color: white;
  padding-top: 40px;
  border: 0.5em rgb(173, 170, 170) solid;
  .qq {
    height: 18%;
    width: 90%;
    background-color: red;
    margin:auto;
    text-align: center;
    color: white;
    line-height: 50px;
  }
  .qqq{
    height: 18%;
    width: 90%;
    margin:auto;
    text-align: center;
    color: black;;
    line-height: 50px;
    margin-top: 2%;
  }
  .qqqq {
    height: 18%;
    width: 90%;
    background-color: rgb(148, 144, 144);
    margin:auto;
    text-align: center;
    color: white;
    line-height: 50px;
    margin-top: 2%;
  }
  .qqqqq {
    height: 18%;
    width: 90%;
    background-color:rgb(148, 144, 144);
    margin:auto;
    text-align: center;
    color: white;
    line-height: 50px;
    margin-top: 2%;
  }
}