.content
  .contents
    .category
      %div.comment
        人気のカテゴリー
        %ul.categorybox
          %li.qaz
            %a.bar7{:href => ""} レディース
          %li.qaz
            %a.bar8{:href => ""} メンズ
          %li.qaz
            %a.bar9{:href => ""} 家電・スマホ・カメラ
          %li.qaz
            %a.bar10{:href => ""} おもちゃ・ホビー・グッズ
    .new_box
      .name
      .item
      .name
      .item
      .name
      .item
      .name
      .bottomitem
  .contents
    .category
      .category
        %div.comment
          人気のブランド
          %ul.categorybox
            %li.qaz
              %a.bar11{:href => ""} シャネル
            %li.qaz
              %a.bar8{:href => ""} ルイヴィトン
            %li.qaz
              %a.bar9{:href => ""} シュプリーム
            %li.qaz
              %a.bar10{:href => ""} ナイキ
    .new_box
      .name
      .item
      .name
      .item
      .name
      .item
      .name
      .bottomitem
