.content
  .contents
    .category
    .new_box
      .name
      .item
      .name
      .item
      .name
      .item
      .name
      .bottomitem
  .contents
    .category
    .new_box
      .name
      .item
      .name
      .item
      .name
      .item
      .name
      .bottomitem
