%footer
  %nav.color
    .info
      %h2.asi メルカリについて
      %ul.fo
        %li.opa
          %a.color{:href => "#"} 会社概要（運営会社）
        %li.opa
          %a.color{:href => "#"} 採用情報
        %li.opa
          %a.color{:href => "#"} プレスリリース
        %li.opa
          %a.color{:href => "#"} 公式ブログ
        %li.opa
          %a.color{:href => "#"} メルカリロゴ利用ガイドライン
        %a{:href => "#"}
          = fa_icon 'twitter-square', class: 't-icon'
        %a{:href => "#"} 
          = fa_icon 'facebook-square', class: 'f-icon'
    .help-guide
      %h2.asi ヘルプ＆ガイド
      %ul.fo
        %li.opa
          %a.color{:href => "#"} メルカリガイド
        %li.opa
          %a.color{:href => "#"} らくらくメルカリ便
        %li.opa
          %a.color{:href => "#"} ゆうゆうメルカリ便
        %li.opa
          %a.color{:href => "#"} 大型メルカリ便
        %li.opa
          %a.color{:href => "#"} 車体取引ガイド
        %li.opa
          %a.color{:href => "#"} メルカリあんしん・あんぜん宣言！
        %li.opa
          %a.color{:href => "#"} 偽ブランド品撲滅への取り組み
        %li.opa
          %a.color{:href => "#"} メルカリボックス
    .privacy
      %h2.asi プライバシーと利用規約
      %ul.bullet
        .bullet-left
          %li.opa
            %a.color{:href => "#"} プライバシーポリシー
          %li.opa
            %a.color{:href => "#"} メルカリ利用規約
          %li.opa
            %a.color{:href => "#"} あんしんスマホサポート制度に関する利用特約
          %li.opa
            %a.color{:href => "#"} コンプライアンスポリシー
        .bullet-right
          %li.opa
            %a.color{:href => "#"} 個人データの安全管理に係る基本方針
          %li.opa
            %a.color{:href => "#"} 特定商取引に関する表記
          %li.opa
            %a.color{:href => "#"} 資金決済法に基づく表示
          %li.opa
            %a.color{:href => "#"} 法令順守と犯罪抑止のために
    .country    
      %h2.asi 国
      %ul.fo
        %li.opa
          %a.color{:href => "#"} 日本
        %li.opa
          %a.color{:href => "#"} United States
  .f-under
    %a.color{:href => "#"}
      %img{:src => "assets/mercari1.jpg",:alt => "mercari1", :class => "mercari1"}/
    %span.f ©︎2019 Mercari