.header
  .header_box
    .h_topbox
    .h_center_topbox
      .left_imagbox
        %a{:href => ""}
          =image_tag "merucari.png", size: "140x35"
      %form.rightsearch
        %input.hoge{:name => "keyword", :placeholder => "何かお探しですか？", :type => "search", :value => ""}/
        %button.hogehoge
          =fa_icon "search"
    .h_bottombox
    .h_center_bottombox
      .left_box
        %a.bar{:href =>""}
          =image_tag "bar.png", size:"15x15"
        %a.bar4{:href =>""}カテゴリーから探す
      .left_box2
        %a.bar3{:href =>""}
          =image_tag "tag.png", size:"15x15"
        %a.bar4{:href =>""} &nbsp ブランドから探す
      .touroku
        %a.bar5{:href => ""} 新規会員登録
      .login
        %a.bar6{:href => ""} ログイン
