@mixin slow_blue {
  color: $blue;
  transition: 0.3s;
}
@mixin header_list {
  font-size: 14px;
  opacity: 0.9;
  margin: 2% 0 0 5%;
}
@mixin header_icon {
  margin-top: 3%;
  opacity: 0.5;
}
@mixin flex-between {
  display: flex;
  justify-content: space-between;
}
@mixin flex-evenly {
  display: flex;
  justify-content: space-evenly;
}
@mixin flex-around {
  display: flex;
  justify-content: space-around;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
}
@mixin flex-right {
  display: flex;
  justify-content: flex-end;
}
@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
}